In [1]:
import pandas as pd
# fit and evaluate an AR model
from pandas import read_csv
from matplotlib import pyplot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
import numpy
from math import sqrt

In [2]:
def difference(dataset):
    diff = []
    for row in dataset:
        diff_row = []
        for i in range(0, len(row)):
            value = int(row[i].replace(',', '')) #int(row[i-1].replace(',', ''))
            diff_row.append(value)
        diff.append(diff_row)
    return numpy.array(diff)

# Make a prediction give regression coefficients and lag obs
def predict(coef, history):
    yhat = coef[0]
    for i in range(1, len(coef)):
        yhat += coef[i] * history[-i]
    return yhat
 
df = read_csv('medicare_enrollment_state.csv', header=0, index_col=0)

In [3]:
df.dtypes

2010    object
2011    object
2012    object
2013    object
2014    object
2015    object
2016    object
2017    object
2018    object
dtype: object

In [4]:
df

,2010,2011,2012,2013,2014,2015,2016,2017,2018
Location,,,,,,,,,
Alabama,"833,737","852,740","881,686","910,826","934,681","957,230","982,978","1,003,155","1,045,702"
Alaska,"64,031","65,356","69,301","73,033","76,102","79,432","84,479","87,935","95,483"
Arizona,"903,761","933,435","977,447","1,021,663","1,063,224","1,106,623","1,155,167","1,199,968","1,279,721"
Arkansas,"525,417","536,817","552,375","567,391","579,516","590,707","604,934","615,859","646,094"
California,"4,669,733","4,806,469","5,000,198","5,204,013","5,378,580","5,558,531","5,755,043","5,915,868","6,224,832"
Colorado,"610,002","631,387","667,277","703,686","737,161","768,741","814,593","844,616","911,645"
Connecticut,"560,693","571,020","586,545","602,359","614,302","625,186","638,096","649,953","679,355"
Delaware,"146,006","151,077","157,289","164,349","170,630","176,884","183,704","190,055","201,656"
District of Columbia,"77,073","78,860","81,260","83,575","85,358","87,367","89,688","91,296","95,334"
Florida,"3,304,763","3,390,801","3,527,830","3,663,701","3,795,696","3,931,539","4,111,667","4,239,320","4,515,510"
Georgia,"1,212,748","1,256,047","1,318,733","1,383,445","1,440,685","1,495,932","1,562,192","1,613,171","1,721,548"
Hawaii,"202,910","210,009","217,678","226,066","233,767","241,052","249,086","256,449","268,978"
Idaho,"224,403","232,471","242,889","254,351","264,996","275,502","288,579","300,858","323,878"
Illinois,"1,819,836","1,854,402","1,907,859","1,964,901","2,008,952","2,049,272","2,102,140","2,146,998","2,239,655"
Indiana,"992,082","1,014,432","1,048,499","1,081,421","1,110,048","1,137,356","1,169,525","1,196,778","1,255,287"
Iowa,"513,580","519,726","531,209","544,092","555,077","566,979","582,988","595,633","623,427"
Kansas,"428,687","435,802","448,215","460,990","472,117","482,909","495,399","506,808","533,219"
Kentucky,"748,895","767,801","793,271","817,729","837,089","854,695","875,453","891,826","931,476"
Louisiana,"678,258","692,718","718,037","741,335","761,665","782,499","808,995","829,350","867,826"
Maine,"260,858","267,012","276,467","286,803","295,279","302,958","310,963","319,063","336,322"
Maryland,"772,087","794,039","827,426","861,995","891,411","918,576","951,915","978,671","1,033,382"
Massachusetts,"1,046,119","1,067,929","1,104,483","1,141,197","1,173,054","1,202,565","1,236,749","1,264,911","1,326,207"
Michigan,"1,627,103","1,669,386","1,728,338","1,786,552","1,834,584","1,877,602","1,928,999","1,971,638","2,064,706"
Minnesota,"774,852","791,566","819,803","849,346","874,889","899,946","935,036","962,983","1,017,798"
Mississippi,"490,644","501,142","516,809","531,359","543,233","555,499","570,612","580,929","606,646"
Missouri,"992,785","1,009,613","1,040,491","1,073,594","1,099,711","1,123,819","1,157,621","1,180,603","1,238,715"
Montana,"166,429","171,499","177,835","185,208","191,599","197,928","205,812","213,146","227,477"
Nebraska,"276,865","280,441","287,565","295,165","302,026","309,278","319,830","327,938","344,200"
Nevada,"346,704","359,968","379,860","400,578","420,014","440,050","464,202","483,030","519,060"
New Hampshire,"213,223","221,168","231,444","242,243","251,920","260,186","268,878","277,938","295,698"
New Jersey,"1,311,519","1,336,988","1,378,274","1,418,557","1,449,623","1,480,003","1,518,718","1,546,679","1,622,531"
New Mexico,"307,263","316,973","329,994","342,965","354,352","366,277","380,403","393,028","417,438"
New York,"2,948,547","3,009,756","3,093,591","3,180,545","3,247,829","3,312,926","3,390,503","3,457,888","3,612,185"
North Carolina,"1,461,763","1,505,942","1,568,429","1,631,909","1,688,049","1,741,352","1,805,288","1,858,980","1,966,306"
North Dakota,"107,790","108,878","110,827","112,842","114,745","116,940","119,864","123,129","130,019"
Ohio,"1,877,972","1,909,462","1,971,260","2,031,255","2,081,825","2,129,744","2,189,897","2,235,996","2,330,935"
Oklahoma,"596,898","607,465","625,924","643,572","657,666","671,280","692,978","706,714","742,936"
Oregon,"608,904","625,594","653,905","682,607","709,522","736,894","772,835","800,508","856,072"
Pennsylvania,"2,257,795","2,290,509","2,350,558","2,413,666","2,462,782","2,509,507","2,572,748","2,622,272","2,725,053"
Rhode Island,"181,075","183,433","188,502","193,618","197,589","201,370","206,079","210,585","219,877"
South Carolina,"756,352","783,904","820,947","857,238","889,683","923,018","961,942","994,109","1,051,955"
South Dakota,"135,223","137,314","141,079","145,325","149,639","154,093","159,768","163,258","174,017"
Tennessee,"1,038,935","1,067,534","1,109,791","1,151,404","1,185,661","1,218,087","1,256,171","1,286,482","1,351,535"
Texas,"2,936,650","3,044,936","3,187,332","3,324,734","3,449,327","3,573,025","3,718,244","3,842,864","4,090,568"
Utah,"277,270","286,630","299,427","313,295","325,646","337,998","352,677","365,949","389,765"
Vermont,"109,232","112,831","117,393","121,995","126,081","129,772","133,735","137,870","145,853"
Virginia,"1,121,624","1,155,428","1,203,462","1,251,072","1,291,572","1,331,742","1,384,330","1,423,707","1,512,729"
Washington,"950,864","983,167","1,029,529","1,076,676","1,119,809","1,164,749","1,217,870","1,261,456","1,346,185"
West Virginia,"378,353","383,035","392,021","400,655","407,443","413,653","422,655","428,367","443,870"
Wisconsin,"899,125","918,344","948,489","980,314","1,008,675","1,036,401","1,071,864","1,103,064","1,161,080"
Wyoming,"78,769","80,994","84,076","87,465","90,505","93,775","97,073","100,629","107,656"
American Samoa,"3,368","3,513","3,646","3,813","3,928","3,978","3,764","7,085","6,736"
Guam,"11,806","12,174","12,873","13,368","13,971","14,610","15,385","16,023","16,995"
Northern Mariana Islands,1,"1,683","1,788","1,903","1,930","2,016",1,1,1
Puerto Rico,"646,221","670,555","693,652","716,959","735,152","746,386","769,412","775,837","793,055"
Virgin Islands,"15,739","16,483","17,241","17,965","18,532","19,175","19,737","20,157","20,857"

In [5]:
# split dataset
X = difference(df.values)
size = int(len(X) * .66)
train, test = X[0:size], X[size:]

In [6]:
train

array([[ 833737,  852740,  881686,  910826,  934681,  957230,  982978,
        1003155, 1045702],
       [  64031,   65356,   69301,   73033,   76102,   79432,   84479,
          87935,   95483],
       [ 903761,  933435,  977447, 1021663, 1063224, 1106623, 1155167,
        1199968, 1279721],
       [ 525417,  536817,  552375,  567391,  579516,  590707,  604934,
         615859,  646094],
       [4669733, 4806469, 5000198, 5204013, 5378580, 5558531, 5755043,
        5915868, 6224832],
       [ 610002,  631387,  667277,  703686,  737161,  768741,  814593,
         844616,  911645],
       [ 560693,  571020,  586545,  602359,  614302,  625186,  638096,
         649953,  679355],
       [ 146006,  151077,  157289,  164349,  170630,  176884,  183704,
         190055,  201656],
       [  77073,   78860,   81260,   83575,   85358,   87367,   89688,
          91296,   95334],
       [3304763, 3390801, 3527830, 3663701, 3795696, 3931539, 4111667,
        4239320, 4515510],
       [1212748, 1256047, 1318733, 1383445, 1440685, 1495932, 1562192,
        1613171, 1721548],
       [ 202910,  210009,  217678,  226066,  233767,  241052,  249086,
         256449,  268978],
       [ 224403,  232471,  242889,  254351,  264996,  275502,  288579,
         300858,  323878],
       [1819836, 1854402, 1907859, 1964901, 2008952, 2049272, 2102140,
        2146998, 2239655],
       [ 992082, 1014432, 1048499, 1081421, 1110048, 1137356, 1169525,
        1196778, 1255287],
       [ 513580,  519726,  531209,  544092,  555077,  566979,  582988,
         595633,  623427],
       [ 428687,  435802,  448215,  460990,  472117,  482909,  495399,
         506808,  533219],
       [ 748895,  767801,  793271,  817729,  837089,  854695,  875453,
         891826,  931476],
       [ 678258,  692718,  718037,  741335,  761665,  782499,  808995,
         829350,  867826],
       [ 260858,  267012,  276467,  286803,  295279,  302958,  310963,
         319063,  336322],
       [ 772087,  794039,  827426,  861995,  891411,  918576,  951915,
         978671, 1033382],
       [1046119, 1067929, 1104483, 1141197, 1173054, 1202565, 1236749,
        1264911, 1326207],
       [1627103, 1669386, 1728338, 1786552, 1834584, 1877602, 1928999,
        1971638, 2064706],
       [ 774852,  791566,  819803,  849346,  874889,  899946,  935036,
         962983, 1017798],
       [ 490644,  501142,  516809,  531359,  543233,  555499,  570612,
         580929,  606646],
       [ 992785, 1009613, 1040491, 1073594, 1099711, 1123819, 1157621,
        1180603, 1238715],
       [ 166429,  171499,  177835,  185208,  191599,  197928,  205812,
         213146,  227477],
       [ 276865,  280441,  287565,  295165,  302026,  309278,  319830,
         327938,  344200],
       [ 346704,  359968,  379860,  400578,  420014,  440050,  464202,
         483030,  519060],
       [ 213223,  221168,  231444,  242243,  251920,  260186,  268878,
         277938,  295698],
       [1311519, 1336988, 1378274, 1418557, 1449623, 1480003, 1518718,
        1546679, 1622531],
       [ 307263,  316973,  329994,  342965,  354352,  366277,  380403,
         393028,  417438],
       [2948547, 3009756, 3093591, 3180545, 3247829, 3312926, 3390503,
        3457888, 3612185],
       [1461763, 1505942, 1568429, 1631909, 1688049, 1741352, 1805288,
        1858980, 1966306],
       [ 107790,  108878,  110827,  112842,  114745,  116940,  119864,
         123129,  130019],
       [1877972, 1909462, 1971260, 2031255, 2081825, 2129744, 2189897,
        2235996, 2330935]])

In [7]:
model = LinearRegression().fit(train[:, 0:4], train[:, 4:5])

In [8]:
r2 = model.score(test[:, 0:4], test[:, 4:5])
print(r2)

0.999996345836335

In [9]:
np.set_printoptions(formatter={'float_kind':'{:f}'.format})

In [10]:
preds_2019 = model.predict(train[:, 1:5])
print(preds_2019)

[[955641.126521]
 [78808.273660]
 [1099987.050354]
 [588956.157184]
 [5543030.332335]
 [768637.304925]
 [624243.342918]
 [176268.876359]
 [86489.488251]
 [3904856.826801]
 [1495396.132719]
 [240221.306063]
 [274545.456610]
 [2048766.891036]
 [1133305.985822]
 [563145.788242]
 [480689.423371]
 [853650.448995]
 [777959.090315]
 [303014.390594]
 [918996.861409]
 [1200016.993921]
 [1876993.816419]
 [897457.417431]
 [552431.579503]
 [1123465.960767]
 [197371.133268]
 [306874.371545]
 [437967.944505]
 [260674.384603]
 [1476432.392649]
 [364214.133908]
 [3306355.801945]
 [1738749.822973]
 [115395.581789]
 [2123652.680521]]

In [11]:
df1 = pd.Series()
#df1['loc']=df['Location']
df1['pred19']=preds_2019
df1.head()
df.to_csv('2019.csv')

In [ ]:
#Do not run
# train autoregression
window = 6
model = ARIMA(train, order=(5, 2, 2))
model_fit = model.fit()
coef = model_fit.params
# walk forward over time steps in test
history = [train[i] for i in range(len(train))]
predictions = list()
for t in range(len(test)):
	yhat = predict(coef, history)
	obs = test[t]
	predictions.append(yhat)
	history.append(obs)
rmse = sqrt(mean_squared_error(test, predictions))
print('Test RMSE: %.3f' % rmse)
# plot
pyplot.plot(test)
pyplot.plot(predictions, color='red')
pyplot.show()

In [ ]:
#Do not run
rmse = sqrt(mean_squared_error(test[:, 4:5], predictions))
print('Test RMSE: %.3f' % rmse)
# plot
pyplot.plot(test)
pyplot.plot(predictions, color='red')
pyplot.show()